<!DOCTYPE html>
<html lang="es">
<head>
	
    <meta charset="UTF-8">
    <title>Formulario</title>
    
</head>
<body>
	
	<header class="encabezado">
		
        <h1>Registro de Cliente</h1>
        
        <nav>
		
			<ul>
				
				<li><a href="index.html">Incio</a></li>
				<li><a href="https://www.fi.unju.edu.ar">Facultad de Ingenieria Unju</a></li>
				<li><a href="https://virtual.unju.edu.ar">Unju Virtual</a></li>
				<li><a href="https://www.facebook.com/fiunju">Facultad de Ingeniería - UNJu - Facebook</a></li>
				
			</ul>
			
        </nav>
        
	</header>
    
    <div class="conteiner"></div>
    
	    <form action="#" method="post">
			
			<label for="dni">DNI:</label>
       		<input type="number" id="dni" name="dni" required><br>
       		
			<label for="nombres">Nombres:</label>
       		<input type="text" id="nombres" name="nombres" required><br>
       		
			<label for="apellidos">Apellidos:</label>
			<input type="text" id="apellidos" name="apellidos" required><br>
			
			<label for="fechaNacimiento">Fecha de Nacimiento:</label>
			<input type="date" id="fechaNacimiento" name="fechaNacimiento" required><br>
			
			<label for="genero">Sleccione Genero:</label><br>
			<label for="masculino">Masculino</label>
			<input type="radio" id="masculino" name="genero" value="masculino"><br>
			<label for="femenino">Femenino</label>
			<input type="radio" id="femenino" name="genero" value="femenino"><br>
			<label for="x">X</label>
			<input type="radio" id="x" name="genero" value="x"><br>
			
			
			<label for="correoElectronico">Correo Electroóico:</label>
			<input type="email" id="correoElectronico" name="correoElectronico" required><br>
			
			<label for="domicilio">Domicilio:</label>
			<input type="text" id="domicilio" name="domicilio" required><br>
			
			<label for="provincia">Provincia:</label>
			<select id="provincia" name="provincia" required>
				<option value="" disabled selected>Selecciona una provincia</option>
				<option value="JUJUY">Jujuy</option>
				<option value="SALTA">Salta</option>
				<option value="TUCUMAN">Tucumán</option>
				<option value="CORDOBA">Corboda</option>
			</select><br>
			
			<label for="telefono">Número de teléfono:</label>
			<input type="number" id="telefono" name="telefono" ><br>
			
			<label for="interes">Categoria Interes:</label><br>
			<label>Deportes</label>
			<input type="checkbox" id="deportes" name"interes"><br>
			<label>Noticias</label>
			<input type="checkbox" id="noticias" name"interes"><br>
			<label>Música</label>
			<input type="checkbox" id="musica" name"interes"><br>
			
			
			<label for="sugerencia">Sugerencias para la empresa:</label><br>
			<textarea id="sugerencias" name="sugerencias" rows="5" cols="35"></textarea><br>
			
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required><br>
			
			<label for="aceptarCondiciones">Acepto términos y condiciones:</label>
			<input type="checkbox" id"aceptarCondiciones" name="aceptarCondiciones" required><br>
			
			<label for="informacion">Acepto recibir información relativa a la empresa</label>
			<input type="checkbox" id="informacion" name="informacion" ><br>
			
			<label for="registrarFormulario">Enviar Formulario</label>
			<input type="submit" id="registrarFormulario" name="registrarFormulario">
			
		</form>
		
    </div>
	
	<footer>
		
			<p>Redes sociales</p>
			<a href="https://www.facebook.com">Facebook</a><br>
			<a href="https://www.instagram.com">Instagram</a><br>
			<a href="https://www.tiktok.com">TikTok</a><br>
			<p>Proyectos</p>
			<a href="https://github.com">GitHub</a>
			<p>Contactanos</p>
			<a href="https://web.whatsapp.com">WhatsApp</a>
		
	</footer>
	
</body>
</html>