<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programacion Visual</title>
</head>
<body>
    <header>
        <h1>Programacion Visual 2024</h1>
    </header>
    <nav>
		<ul>
			<li><a href="https://www.fi.unju.edu.ar">Facultad de Ingenieria Unju</a></li>
			<li><a href="https://virtual.unju.edu.ar">Unju Virtual</a></li>
			<li></li>
			<li></li>
		</ul>
		
		
	</nav>
    <main>
		<h3>Materia Cuatrimestral</h3>
		<p>Esta materia pertenece al segundo año de la carrera Analista Programador Universitario</p>
	</main>
    
    <footer>
        <p>Contacto</p>
        <p>Redes sociales</p>
    </footer>
</body>
</html>