<!DOCTYPE html>
<html lang="es">
<head>
	
    <meta charset="UTF-8">
    <title>Programacion Visual</title>
    
</head>
<body>
	
    <header>
		
        <h1>Programacion Visual 2024</h1>
        
	    <nav>
			
			<ul>
				<li><a href="https://www.fi.unju.edu.ar">Facultad de Ingenieria Unju</a></li>
				<li><a href="https://virtual.unju.edu.ar">Unju Virtual</a></li>
				<li><a href="https://www.facebook.com/fiunju">Facultad de Ingeniería - UNJu - Facebook</a></li>
				<li><a href="form-cliente.html">Formulario</a></li>
				<li><a href="#alcances">Analista Programador Universitario</a></li>
	       		<li><a href="#materia">Materia</a></li>
	        	<li><a href="#profesores">Profesores</a></li>
	        	
			</ul>
			
		</nav>
		
	</header>
	
    <main>
		
		<h2>Analista Programador Universitario</h2>
		
		<section id="alcances">

            <h3>Alcances del Título</h3>
            <p>El título profesional obtenido por el Egresado de la carrera de Analista Programador Universitario, lo habilita para:</p>
            <ol>
                <li>Programar, documentar, instalar, poner en marcha, operar, modificar, probar, medir, mantener y transformar software en general o incluido en sistemas informáticos.</li>
                <li>Asistir al Profesional de grado informático en tareas de relevamiento y análisis y diseño de sistemas informáticos de cualquier envergadura.</li>
                <li>Participar en equipos de trabajo para desarrollo o transferencia tecnológica relacionados con la producción y/o manipulación de software.</li>
            </ol>
            
        </section>
		
		<section id="materia">
			
            <h3>Programacion Visual</h3>
            <p>Características Generales:</p>
            
            <ul>
                <li>El estudiante tiene su primer contacto con un IDE.</li>
                <li>Se experimenta con la creación de aplicación multicapa del tipo RIA (Rich Internet Application) utilizando frameworks de desarrollo usados en la industria del software ponderando la automatización de las técnicas de versionamiento, el trabajo en equipo y la investigación.</li>
                <li>Se recomienda que los estudiantes de la materia posean conocimientos previos de la resolución de problemas con algoritmos y programación.</li>
            	<li>Se utiliza las nociones básicas del paradigma de objetos para la programación del backend, Spring boot para la gestión e integración del proyecto software (JPA, Thymelief, Bootstrap).</li>
            </ul>
            
        </section>
        
        <section id="profesores">
			
            <h3>Catedra de la Materia</h3>
            <p>Profesores:</p>
            
            <ul>
                <li>Profesor Asociado: Ariel Alejandro Vega</li>
                <li>Profesor Adjunto: Gustavo Sosa</li>
                <li>Jefe de Trabajos Prácticos: Carolina Apaza</li>
                <li>Ayudante de Primera: Juan Carlos Rodriguez</li>
                
            </ul>
            
        </section>
        
        <CENTER>
        <table>
			
		    <tr>
		        <th>PERÍODO LECTIVO</th>
		        <th colspan="2">2024</th>
		    </tr>
		    
		    <tr>
		        <td>CARRERA Y PLANES DE ESTUDIO</td>
				<td>Analista Programador Universitario</td>
				<td>2008</td>
		    </tr>
		    
		    <tr>
		        <td>BLOQUE DE CONOCIMIENTOS</td>
		        <td>-</td>
		    </tr>
		    
		    <tr>
		        <td>NOMBRE DE LA ASIGNATURA</td>
		        <td>Programación Visual - Sede San Salvador de Jujuy</td>
		    </tr>
		    
		    <tr>
		        <td>RESPONSABLE DE CÁTEDRA</td>
		        <td>
					<p>Responsable de Cursada</p>
					<p>Mg. Ing. Ariel Alejandro Vega</p>
				</td>
		    </tr>
		    
		    <tr>
				<td>EQUIPO DE CÁTEDRA</td>
				<td>
					<p>Prof Adj Ded. Simple Mg. Ing. Gustavo Sosa</p>
					<p>JTP Ded. Simple: Ing. Carolina Apaza</p>
					<p>Ayu. Primera Ded. Simple Juan Rodriguez</p>
				</td>
			</tr>
			
			<tr>
		        <td>MODALIDAD DE CURSADO</td>
		        <td>Virtual</td>
		    </tr>
		    
		    <tr>
		        <td>CARÁCTER</td>
		        <td>Troncal (Obligatoria)</td>
		    </tr>
		    
		    <tr>
		        <td>CARGA HORARIA SEMANAL</td>
		        <td>6 horas</td>
		    </tr>
		    
		    <tr>
		        <td>CARGA HORARIA TOTAL</td>
		        <td>90 horas</td>
		    </tr>
		    
		    <tr>
		        <td>AÑO EN EL PLAN DE ESTUDIO</td>
		        <td>Segundo Año</td>
		    </tr>
			
			<tr>
				<td colspan="2">
					FACULTAD DE INGENIERÍA UNIVERSIDAD NACIONAL DE JUJUY
				</td>
		    </tr>
		    
		</table>
		
        </CENTER>
        
	</main>
    
    <aside>
		
		<h3>Contenido Adicional del uso de HTML5</h3>
		
		<h4>En Sitios Webs</h4>
		
		<p>Representaciones visuales que capturan la esencia y las capacidades del lenguaje HTML5 en el diseño y desarrollo de sitios web.</p>
		<p>Cada imagen destaca la estructura, las etiquetas y los elementos que hacen de HTML5 una herramienta poderosa para crear páginas web modernas, accesibles y responsivas.</p>
		
		<img alt="Imagen1" src="../static/images/img1.jpeg" width="250">
		<img alt="Imagen2" src="../static/images/img2.jpeg" width="250">
		<img alt="Imagen3" src="../static/images/img3.jpeg" width="250">
		<img alt="Imagen4" src="../static/images/img4.jpeg" width="250">
		
	</aside>
    
    <footer>
		
			<p>Redes sociales</p>
			<a href="https://www.facebook.com">Facebook</a><br>
			<a href="https://www.instagram.com">Instagram</a><br>
			<a href="https://www.tiktok.com">TikTok</a><br>
			<p>Proyectos</p>
			<a href="https://github.com">GitHub</a>
			<p>Contactanos</p>
			<a href="https://web.whatsapp.com">WhatsApp</a>
		
    </footer>
    
</body>
</html>